*
!*/
!.gitignore
!Cargo.toml
!src/
!**/*.rs
!justfile
/target
!/python/*.py
!/python/**/py.typed
!LICENSE
!rust-toolchain.toml
!rustfmt.toml
!README.md
!.pre-commit-config.yaml
!.github/workflows/ci.yaml
!.github/workflows/release.yaml
!Cargo.lock
!uv.lock
