*
!*/
# Ensures the .git directory is included when release-plz copies the project in a temp dir
!.git/
!.git/**

/target

!.gitignore
!.gitattributes
!/crates/**/*.rs
!/crates/**/README.md
!/crates/**/Cargo.toml
!/Cargo.toml
!/Cargo.lock
!justfile
!rust-toolchain.toml
!rustfmt.toml
!ruff.toml
!pyproject.toml
!uv.lock
!.python-version
!/README.md
!/LICENSE
!/python/**/*.py
!/python/**/py.typed
!/python/**/LICENSE
!/python/**/README.md
!/python/**/pyproject.toml
!/.cargo/config.toml
!.pre-commit-config.yaml
!/.github/workflows/**/*.yaml
!/.github/actions/**/*.yaml
!release-plz.toml
!/crates/**/CHANGELOG.md
!/crates/heisenberg-data-processing/src/raw/test_data/samples/*.txt
